{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrapper">
        <div id="container">
            <div id="title">
                <h1>Movie List</h1>
            </div>

            <div id="movie_list">
                {% for movie in movies %}
                    <tr>
                        <td>{{ movie.id }}</td>
                        <td>{{ movie.title }}</td>
                        <td>{{ user.directeur }}</td>
                        <td>{{ user.year }}</td>
                        <td>{{ user.evaluations }}</td>
                    </tr>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}