{% extends 'base.html.twig' %}
{% block body %}

    <div id="wrapper">
        <div id="container">
            <div id="title">
                <h1>Movie List</h1>
            </div>

            <table id="movie_list">
                {% for movie in movies %}
                    <tr>
                        <td>{{ movie.id }}</td>
                        <td>{{ movie.title }}</td>
                        <td>{{ movie.directeur }}</td>
                        <td>{{ movie.year }}</td>
                        <td>{{ movie.evaluations }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>

{% endblock %}