{% extends 'base.html.twig' %}

{% block javascripts %}
	<script src="{{ asset('js/app_specific.js') }}"></script>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
	    {{ form_widget(form.title) }}
	    {{ form_widget(form.director) }}
	    {{ form_widget(form.year) }}
	    {{ form_widget(form.user) }}

	    {# Submit Button #}
	    {% set vars = {'label': 'Submit'} %}
		{% include ('@vcforms/submit.html.twig') with vars %}
		{# Ajax Button #}
		<input id="filter_button" type="button" value="Filtrer" />
    {{ form_end(form) }}

    <div id="ajax_error"></div>
{% endblock %}